*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Georama', sans-serif;
    margin: 0;
}

header {
    background-color: #000;
    color: #FFF;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.option {
    font-size: 1rem;
    padding: 0.4em 1em;
    margin: 0.5em 0.5em;
    background-color: #BFFCF9;
    border: transparent;
    border-radius: 99px;
}

.option:hover {
    background-color: #8BC6C3;
}

@keyframes glow {
    10% {box-shadow: 0 0 10px 2px #FFF;}
    20% {box-shadow: 0 0 10px 4px #FFF;}
    30% {box-shadow: 0 0 10px 6px #FFF;}
    40% {box-shadow: 0 0 10px 8px #FFF;}
    50% {box-shadow: 0 0 10px 10px #FFF;}
    60% {box-shadow: 0 0 10px 8px #FFF;}
    70% {box-shadow: 0 0 10px 6px #FFF;}
    80% {box-shadow: 0 0 10px 4px #FFF;}
    90% {box-shadow: 0 0 10px 2px #FFF;}
}

.glow {
    animation: glow 400ms linear 1;
}

.header-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 2em auto;
}

.dog {
    display: block;
    max-width: 100%;
    box-shadow: 10px 10px 5px grey;
}

footer {
    text-align: center;
    margin-bottom: 2em;
}

a:link, a:visited {
    color: #BD0062;
}

a:hover, a:focus {
    color: #c75d94;
}

@media (max-width: 770px) {
    .header-container {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        margin: 0.2em;
    }

    .option-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .option, footer {
        font-size: 0.8rem;
    }
}